{"es"
 {"clojure.core"
  {"butlast"
   {:existing "butlast",
    :alias "pero-último",
    :docstring "",
    :comment "not sure of what this should communicate."},
   "else"
   {:existing "else",
    :alias "más",
    :docstring "",
    :comment "or \"otro\""},
   "boolean"
   {:existing "boolean",
    :alias "booleano",
    :docstring "",
    :comment
    "sounds like English but couldn't find a more specific word"},
   "map" {:existing "map", :alias "mapa"},
   "seq"
   {:existing "seq",
    :alias "sec",
    :docstring "",
    :comment "short for \"secuenciar\""},
   "range" {:existing "range", :alias "gama"},
   "drop-while" {:existing "drop-while", :alias "baja-mientras"},
   "loop"
   {:existing "loop",
    :alias "darvuelta",
    :docstring "",
    :comment "actually two words \"dar vuelta\""},
   "list" {:existing "list", :alias "enumera"},
   "agent"
   {:existing "agent",
    :alias "agencia",
    :docstring "",
    :comment "or agente"},
   "next"
   {:existing "next",
    :alias "próximo",
    :docstring "",
    :comment "this is used in the present"},
   "if-not" {:existing "if-not", :alias "si-no"},
   "keep" {:existing "keep", :alias "guardar"},
   "find" {:existing "find", :alias "encuentra"},
   "not" {:existing "not", :alias "no"},
   "doall"
   {:existing "doall",
    :alias "haztodo",
    :docstring "",
    :comment "literally means do it all"},
   "doseq" {:existing "doseq", :alias "hazsec"},
   "hash-map" {:existing "hash-map", :alias "hachís-mapa"},
   "str"
   {:existing "str",
    :alias "crd",
    :docstring "",
    :comment "short for \"cuerda\" which translates to string"},
   "reverse" {:existing "reverse", :alias "invierte"},
   "every?" {:existing "every?", :alias "cada?"},
   "true?" {:existing "true?", :alias "cierto?"},
   "second" {:existing "second", :alias "segundo"},
   "false?" {:existing "false?", :alias "falso?"},
   "for"
   {:existing "for",
    :alias "para",
    :docstring "",
    :comment "could be por"},
   "take" {:existing "take", :alias "toma"},
   "rest"
   {:existing "rest",
    :alias "lodemás",
    :docstring "",
    :comment
    "should we separate the words into \"lo demás\" or shorten it to \"demás\"? Could also use \"el resto\""},
   "count" {:existing "count", :alias "cuenta"},
   "dorun"
   {:existing "dorun",
    :alias "hazcorrer",
    :docstring "",
    :comment "could also just use \"haz\" meaning \"do\""},
   "apply" {:existing "apply", :alias "aplica"},
   "false" {:existing "false", :alias "falso"},
   "cond"
   {:existing "cond",
    :alias "dependela",
    :docstring "",
    :comment "means \"depending on the ...\" --> dependiendo de la"},
   "if" {:existing "if", :alias "si"},
   "let" {:existing "let", :alias "deja"},
   "drop" {:existing "drop", :alias "baja"},
   "inc"
   {:existing "inc",
    :alias "carga",
    :docstring "",
    :comment "translated to \"load\" in english"},
   "println"
   {:existing "println",
    :alias "imprimeln",
    :docstring "",
    :comment "ln means \"line\" in English"},
   "slurp"
   {:existing "slurp",
    :alias "ventosa",
    :docstring "",
    :comment "if this should be a verb"},
   "atom" {:existing "atom", :alias "átomo"},
   "spit"
   {:existing "spit",
    :alias "escupe",
    :docstring "",
    :comment "could be \"saliva\" if it's not an action"},
   "take-while" {:existing "take-while", :alias "toma-mientras"},
   "or" {:existing "or", :alias "o"},
   "identity" {:existing "identity", :alias "identidad"},
   "remove" {:existing "remove", :alias "quita"},
   "true" {:existing "true", :alias "cierto"},
   "concat" {:existing "concat", :alias "social"},
   "filter" {:existing "filter", :alias "forma"},
   "when" {:existing "when", :alias "cuando"},
   "and" {:existing "and", :alias "y"},
   "hash-set"
   {:existing "hash-set",
    :alias "hachís-pone",
    :docstring "",
    :comment "could use fijo or colocar as \"set\""},
   "do" {:existing "do", :alias "haz"},
   "last" {:existing "last", :alias "último"},
   "interpose" {:existing "interpose", :alias "interpone"},
   "print" {:existing "print", :alias "imprime"},
   "set" {:existing "set", :alias "pone"},
   "some" {:existing "some", :alias "alguno"},
   "flatten" {:existing "flatten", :alias "aplana"},
   "when-not" {:existing "when-not", :alias "cuando-no"},
   "dec"
   {:existing "dec",
    :alias "extracto",
    :docstring "",
    :comment
    "based soley on translation. need more info/context to decide what connotations/denotations would be best"},
   "get" {:existing "get", :alias "consigue"},
   "first" {:existing "first", :alias "primero"}}},
 "ta"
 {"clojure.core"
  {"" {:existing ""},
   "butlast" {:existing "butlast", :alias "கடைசியின்றி"},
   "boolean" {:existing "boolean", :alias "பூலியன்}}"},
   "map" {:existing "map", :alias "விவரி"},
   "seq" {:existing "seq", :alias "வரிசை"},
   "range" {:existing "range", :alias "வீச்சு"},
   "drop-while" {:existing "drop-while", :alias "விடு-என்னும்வரை"},
   "loop" {:existing "loop", :alias "சுற்று"},
   "defn" {:existing "defn", :alias "வரையறு-செயல்கூறு"},
   "list" {:existing "list", :alias "பட்டியல்"},
   "next" {:existing "next", :alias "அடுத்த"},
   "if-not" {:existing "if-not", :alias "இல்லெனில்"},
   "keep" {:existing "keep", :alias "கொள்"},
   "find" {:existing "find", :alias "கண்டுபிடி"},
   "not" {:existing "not", :alias "அன்று"},
   "doall" {:existing "doall", :alias "செய்யெல்லாம்"},
   "doseq" {:existing "doseq", :alias "செய்வரிசை"},
   "hash-map" {:existing "hash-map", :alias "புலவெண்-விவரணையாக்கம்"},
   "str" {:existing "str", :alias "தொடை"},
   "reverse" {:existing "reverse", :alias "புரட்டு"},
   "every?" {:existing "every?", :alias "ஒவ்வொன்றுமா?"},
   "true?" {:existing "true?", :alias "உண்மையா?"},
   "second" {:existing "second", :alias "இரண்டாம்"},
   "false?" {:existing "false?", :alias "பொய்மையா?"},
   "fn" {:existing "fn", :alias "செயல்கூறு"},
   "for" {:existing "for", :alias "ஒன்றொன்றுக்கு"},
   "take" {:existing "take", :alias "எடு"},
   "rest" {:existing "rest", :alias "மீதி"},
   "count" {:existing "count", :alias "எண்ணு"},
   "dorun" {:existing "dorun", :alias "செய்யோட்டம்"},
   "apply" {:existing "apply", :alias "செயல்படுத்து"},
   "false" {:existing "false", :alias "பொய்மை"},
   "cond" {:existing "cond", :alias "பொறுத்து"},
   "if" {:existing "if", :alias "எனில்"},
   "let" {:existing "let", :alias "வைத்துக்கொள்"},
   "drop" {:existing "drop", :alias "விடு"},
   "inc" {:existing "inc", :alias "ஏற்று"},
   "println" {:existing "println", :alias "வரி-அச்சிடு"},
   "atom" {:existing "atom", :alias "அணு"},
   "take-while" {:existing "take-while", :alias "எடு-என்னும்வரை"},
   "or" {:existing "or", :alias "அல்லது"},
   "identity" {:existing "identity", :alias "அடையாளம்"},
   "remove" {:existing "remove", :alias "அகற்று"},
   "true" {:existing "true", :alias "வாய்மை"},
   "interleave" {:existing "interleave", :alias "பின்னு"},
   "concat" {:existing "concat", :alias "தொடு"},
   "filter" {:existing "filter", :alias "வடி"},
   "when" {:existing "when", :alias "என்னும்போது"},
   "and" {:existing "and", :alias "மற்றும்"},
   "hash-set" {:existing "hash-set", :alias "புலவெண்-அமைவு"},
   "do" {:existing "do", :alias "செய்"},
   "last" {:existing "last", :alias "கடைசி"},
   "interpose" {:existing "interpose", :alias "இடைபொருத்து"},
   "print" {:existing "print", :alias "அச்சிடு"},
   "set" {:existing "set", :alias "அமைவு"},
   "some" {:existing "some", :alias "எதாவது"},
   "def" {:existing "def", :alias "வரையறு"},
   "reduce" {:existing "reduce", :alias "இறுக்கு"},
   "flatten" {:existing "flatten", :alias "தட்டையாக்கு"},
   "when-not" {:existing "when-not", :alias "இல்லென்னும்-போது"},
   "dec" {:existing "dec", :alias "இறக்கு"},
   "get" {:existing "get", :alias "பெறு"},
   "first" {:existing "first", :alias "முதல்"}}},
 "ko"
 {"clojure.core"
  {"defn" {:existing "defn", :alias "함수를정의"},
   "aget" {:existing "aget", :alias "배열을얻을", :docstring "fun , "},
   "fn" {:existing "fn", :alias "기능"},
   "apply" {:existing "apply", :alias "대다"},
   "if" {:existing "if", :alias "만약"},
   "let" {:existing "let", :alias "방해"},
   "and" {:existing "and", :alias "과"},
   "aset" {:existing "aset", :alias "세트"},
   "def" {:existing "def", :alias "밝히다"},
   "repeatedly" {:existing "repeatedly", :alias "자꾸"},
   "assoc-in" {:existing "assoc-in", :alias "에연결"},
   "assoc" {:existing "assoc", :alias "동무"}}},
 "id"
 {"clojure.core"
  {"defn" {:existing "defn", :alias "dfungsi"},
   "aget" {:existing "aget", :alias "amendapatkan"},
   "fn" {:existing "fn", :alias "fungsi"},
   "apply" {:existing "apply", :alias "menerapkan"},
   "if" {:existing "if", :alias "jika"},
   "let" {:existing "let", :alias "membiarkan"},
   "and" {:existing "and", :alias "dan"},
   "aset" {:existing "aset", :alias "amengatur"},
   "def" {:existing "def", :alias "menetapkan"},
   "repeatedly" {:existing "repeatedly", :alias "berkali-kali"},
   "assoc-in" {:existing "assoc-in", :alias "rekan-di"},
   "assoc" {:existing "assoc", :alias "rekan"}}}}
